body{
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(17,60px);
    column-gap: 1%;
    row-gap: 1%;
    background-color: rgb(37, 37, 37);
    
}
/* ---------------Navbar------------------------ */
.navbar-container{
    border: 1px solid rgb(85, 184, 27);
    grid-column: 1/ span 8;
    grid-row: 1  ;

    background-color: rgb(119, 163, 119);
}
ul{
    list-style-type: none;
    display: inline;
    
    
}
li{
    display: inline
    
}
.nav-text{
    
    color: whitesmoke;
    font-size: 125%;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    float: left;
    
    
    
}
i{
    float: left;
    padding-bottom: 7px;
    
}
.navbar-link{
    color: whitesmoke;
    
    text-decoration: none;
    margin-right: 0.7%;
    margin-top: 0.5%;
    float: right;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    font-size: 120%;
    padding: 0.5%;
}

.navbar-link:hover{
    color: rgb(49, 48, 48);
}
/* --------------Contact------------------ */
.contact-container{
    border: 4px groove whitesmoke;
    grid-column: 1 / span 8;
    grid-row: 2 / span 9;
    margin-right: 2%;
    margin-left: 2%;
    justify-content: center;
    background-image: url(https://wallpapercave.com/wp/wp1966248.jpg);
    background-size: cover;
    border-radius: 15px;

}
.form-container{
    position: relative;
    left: 25%;
    padding: 1%;
    height: 90%;
}
label{
    display:block;
    color: rgb(76, 126, 218);
    text-shadow: 5px 5px 40px rgb(52, 184, 19);
    
}
.input-text{
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline;
    width: 50%;
    padding: 0.4%;
    border-radius: 5px;
    border: 2px solid rgb(73, 185, 230);
}
.submit-btn{
    width: 15%;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid rgb(73, 185, 230);
}
.textarea{
    display: block;
    width: 50%;
    margin-bottom: 1%;
    margin-top: 1%;
    
    border: 2px solid rgb(73, 185, 230);
}
.select{
    width: 51%;
    padding: 0.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid rgb(73, 185, 230);
}
.contact-head{
    text-align: center;
    color: rgb(89, 75, 219);
    text-shadow: 5px 5px 40px rgb(52, 184, 19);
}
/* ---------------link----------------- */
.link-container{
    background-color: rgb(66, 64, 64);
    grid-column: 2 / span 6;
    grid-row: 11 ;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    border-radius: 15px;
}
.icons-link{
    padding: 3%;
    color: white;
}
.icons-link:hover{
    color: blue;
}